<%- include("partials/head") %>
    <script src="/js/sudoku.js" defer="true"></script>
    <script src="/js/play.js" defer="true"></script>
</head>
<body class="bg-body-secondary">
    <%- include("partials/navbar") %>
    <section class="game">
        <p class="difficulty">Difficulty: <span> <% if(game != null){ %> <%= game.difficulty %> <% } else { %> - <% } %></span></p>
        <div class="board">
            <div id="grid1" class="grid ">
                <% for( let line = 0; line < 9; line++ ) { %>
                    <% for( let col = 0; col < 9; col++ ) { %>
                    <% cell = line*9+col %>
                    <div id="cell-<%= cell %>" class="cell l-<%= line %> c-<%= col %> b-<%= (Math.floor(cell/27)+1) * (Math.floor((cell%9)/3)+1)-1 %>">
                        <% if(game != null){ %>
                            <%= game.value[cell] %>
                        <% } %>
                    </div>
                    <% } %>
                <% } %>
            </div>
        </div>
        <div class="keypad container d-flex justify-content-center overflow-visible flex-wrap pt-3">
            <% for( let num = 1; num <= 9; num++ ) { %>
                <button class="btn btn-num btn-<%= num %> btn-primary btn-lg m-1">
                    <%= num %>
                </button>
            <% } %>
            <button class="btn btn-0 btn-primary btn-lg m-1">
                Clear
            </button>
        </div>
    </section>
</body>
</html>